h2 Ingrese su nombre
form(id="login")
    div(class="form-group")
        label(for="username")
        input(id='username' class="form-control" type="text" placeholder="Lionel Messi")
    
    button(class="btn btn-success my-3" onclick="location.href = '/login'") Submit
p(id="enviarLogin")